* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  color: #000;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #fff;
}

.frame {
  min-width: 980px;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.header {
  height: 100px;
  padding-left: 150px;
  padding-right: 200px;
  margin-top: -100px;
  position: relative;
  background-color: #b5b5b8;
  border: 2px solid #959595;
}

.container {
  height: 100%;
  width: 100%;
  padding-bottom: 90px;
  display: table;
  background-color: #b5b5b8;
  border: 2px solid #959595;
  border-top: none;
}

.sidebar {
  width: 150px;
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-right: 2px solid #959595;
}

.main {
  height: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.footer {
  clear: both;
  height: 90px;
  margin-top: -92px;
  line-height: 90px;
  border: 2px solid #959595;
  border-bottom: none;
  text-align: center;
}

.menu {
  display: table;
  width: 100%;
  height: 50px;
  margin-top: 46px;
  border-collapse: collapse;
}
.menu__item {
  display: table-cell;
  color: #000;
  vertical-align: middle;
  text-align: center;
  border: 2px solid #959595;
  border-bottom: none;
  text-decoration: none;
  overflow: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.menu__item:hover {
  color: #bac9d8;
  background-color: #979799;
}
.menu__item:first-child {
  border-left: none;
}
.menu__item:last-child {
  border-right: none;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 96px;
  color: #000;
  line-height: 100px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  border-right: 2px solid #959595;
}

.user {
  position: absolute;
  top: 0;
  right: 0;
  height: 96px;
  width: 200px;
  line-height: 100px;
  text-align: center;
  border-left: 2px solid #959595;
}
